name: Tests
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Build docker image
      run: |
        docker build . \
          --build-arg TESTING_E2E='true' \
          -t ${{ github.repository }}:${{ github.sha }}
    - name: Run docker container
      run: docker run -d -p 3000:3000 ${{ github.repository }}:${{ github.sha }}
    - name: Install playwright
      run: |
        npm ci
        npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
